<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ul>
            <ui:repeat value="#{allAuctionsView.allAuctions}" var = "auction">
                <li>
                    <h:outputText value="#{auction.title}">
                        <f:param name="id" value="#{auction.id}"/>
                    </h:outputText>    
                    <a href="auctionDescriptionView.xhtml?id=#{auction.id}"> Show </a>
                </li>
            </ui:repeat>
        </ul>          
             

    </h:body>
</html>

