<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        No success
        <br />
        <h:link outcome="/auction/List" value="Show All Auction Items"/>
        <br />
        <h:link outcome="/bid/List" value="Show All Bid Items"/>
        <br />
        <h:link outcome="/item/List" value="Show All Item Items"/>
        <br />
        <h:link outcome="/user/List" value="Show All User Items"/>
    </h:body>




</html>

