<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Publish new auction</title>
        <style type="text/css">
            body{
            font-family: courier;   
            }
            table {
                border:0;
            }
            h1 {
            font-size:22px;
            color: #4571b7;
            font-family: courier;
            }
        </style>
               
    </h:head>
    <h:body>
     <h1> Create new Auction</h1>
    <hr/>
    <h:form enctype="multipart/form-data">
        <h:panelGrid columns="2" border="0">
   

    <h:outputLabel value="Title :" />
    <h:inputText value="#{auctionController.title}"/>


    <h:outputLabel value="Starting bid :" />
    <h:inputText value="#{auctionController.price}"/>


    <h:outputLabel value="Description :" />
    <h:inputTextarea value="#{auctionController.description}" cols="20" rows="10"/>
    
    <h:outputLabel value="Choose the category :" />
    <h:selectOneMenu>
        <f:selectItem itemLabel="Art"/>
        <f:selectItem itemLabel="Clothes"/>
        <f:selectItem itemLabel="Electronics"/>
        <f:selectItem itemLabel="Furniture"/>
    </h:selectOneMenu>

    <h:outputLabel value="" />
    <h:inputFile/>
    <h:outputLabel value="Add the images :" />
    <h:inputFile/>
    <h:outputLabel value="" />
    <h:inputFile/>


    <br></br>
    </h:panelGrid>
        <h:commandButton value="Publish" action="#{auctionController.saveAuction()}" styleClass="submit" />
    </h:form>
    
 
    <hr/>
<em>Copyright 2017 by Auctioneer Inc.</em>

    </h:body>
</html>

