<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">

    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<!--        <h:outputStylesheet name="/resources/css/auctionStyle.css"/>-->
        <link rel="stylesheet" href="./resources/css/auctionStyle.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--        <h:outputScript name="/resources/js/scripts.js" />-->
        <script type="text/javascript" src="./resources/js/scripts.js"></script>
        <title><ui:insert name="title">Title</ui:insert></title>
    </h:head>

    <h:body>
        <!--Title-->
        <div id="top" class="w3-container">
            <ui:insert name="top"><h1>Auctioneer</h1></ui:insert>
        </div>
        
        <!--Navigation bar-->
        <div class="w3-bar w3-light-grey">
            <h:form>
                <h:button outcome="mainLoggedOut" value="Home" class="w3-bar-item w3-button w3-border"/>
<!--                <h:commandButton action="mainLoggedOut" value="Home" class="w3-bar-item w3-button w3-border"/>-->
                
                <!--<h:inputText pt:placeholder="Search.." class="w3-bar-item w3-input w3-border"/>-->
                <h:commandButton action="search" value="Browse auctions" class="w3-bar-item w3-button w3-border"/>
                <!--<h:button outcome="testPage" value="Test" class="w3-bar-item w3-button w3-border w3-green"/>-->
                <h:button rendered="#{!loginManager.loggedIn}" outcome="login" value="Login" class="w3-bar-item w3-button w3-border"/>
                <h:commandButton rendered="#{loginManager.loggedIn}" action="#{loginManager.logout}" value="Log out" class="w3-bar-item w3-button w3-border"/>
                <h:outputText rendered="#{loginManager.loggedIn}" value="Currently logged in as #{loginManager.username}" class="w3-bar-item w3-margin-left w3-border-bottom w3-border-top"/>
                <h:outputText rendered="#{!loginManager.loggedIn}" value="Currently not logged in" class="w3-bar-item w3-margin-left"/>
            </h:form>
        </div>
        
        <br/>
        
        <!--Main content-->
        <div id="content" class="w3-row w3-margin-bottom">
            <ui:insert name="content">Content</ui:insert>
        </div>

    </h:body>
    
    <!--Footer-->
    <div class="w3-container w3-light-grey">
         <p>Copyright 2017 by Auctioneer Inc.</p>
    </div>

</html>
