<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <body>

        <ui:composition template="./auctioneerTemplate.xhtml">

            <ui:define name="title">Auction - <h:outputText value="#{AuctionView.auction.title}"/></ui:define>
            
            <ui:define name="top">
                <h1>Auctioneer</h1>
            </ui:define>

            <ui:define name="content">
                <div class="w3-half w3-margin-left">
                    <div class="w3-card-4 w3-container w3-margin-bottom">
                        
                            
                            <header class="w3-container w3-light-grey w3-center w3-margin-bottom w3-margin-top">
                                <h2><h:outputText value="#{AuctionView.auction.title}"/></h2>
                            </header>
                            
                            <h:panelGrid columns="2" border="0">
                                <h:outputLabel value="Seller :" />
                                <h:outputText value="#{AuctionView.auction.user.username}"/>
                                <h:outputLabel value="Starting bid :" />
                                    <h:outputText value="#{AuctionView.auction.initPrice}"/>

                                <h:outputLabel value="Current bid :" />
                                <h:outputText value="#{AuctionView.bidInfo}"/>

                                <h:outputLabel value="Description :" />
                                    <h:outputText value="#{AuctionView.auction.item.description}"/>

                                
                                <h:outputLabel value="Time left :" />
                            </h:panelGrid>
                            <br/>
                            
                            <c:set var="id" value="#{AuctionView.auctionId}" scope="request" />
                            <h:form enctype="multipart/form-data" rendered="#{bidManager.show(id)}">
                                <h:panelGrid columns="2" border="0" class="w3-margin-bottom">
                                    <h:inputText class="w3-input w3-border" value="#{bidManager.amount}"/>
                                    <h:commandButton class="w3-button w3-grey" action="#{bidManager.saveBid(id)}" value="Place a bid" />
                                </h:panelGrid>
                            </h:form>

                            <h:panelGrid rendered="#{!bidManager.show(id)}" class="w3-pale-red w3-margin-bottom" >
                                <h:outputText value="#{bidManager.bidMessage(id)}"/>
                            </h:panelGrid>

                            
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
