<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition template="./auctioneerTemplate.xhtml">
        
        <ui:define name="title">Bid</ui:define>
        
        <ui:define name="content">
            <h:dataTable id="table1" value="#{AuctionManager.getAuctions}" var="item" border="1">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Price"/>
                    </f:facet>
                    <h:outputText value="#{item.initPrice}" />
                </h:column>
            </h:dataTable>
            <p>
                <h:outputLabel value="Amount: " /> 
                <h:inputText id="amount" size="10" maxlength="10" value="#{BidManager.amount}"/>
            </p>
            <p>
                <h:commandButton id="submit" value="Submit Bid" onclick="#{BidManager.saveBid}"/>
            </p>

        </ui:define>
    </ui:composition>
   
</html>

