<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./auctioneerTemplate.xhtml">

            <ui:define name="title">Login</ui:define>
            
            <ui:define name="top">
                <h1>Auctioneer - Login</h1>
            </ui:define>

            <ui:define name="content">
                <div class="w3-col m4 l3">
                    <div class="w3-card-4">
                        <h:form class="w3-container">
                            <h4>Please provide your credentials:</h4>
                            <p>
                                <h:inputText value="#{loginManager.username}" id="uname" class="w3-input" required="true" requiredMessage="Please enter a username"/>
                                <label>Username</label>
                                <h:message id="m1" for="uname" class="w3-text-red w3-margin-left"/>
                            </p>
                            <p>
                                <h:inputSecret value="#{loginManager.password}" id="passw" class="w3-input" required="true" requiredMessage="Please enter a password"/>
                                <label>Password</label>
                                <h:message id="m2" for="passw" class="w3-text-red w3-margin-left"/>
                            </p>
                            <p>
                                <h:commandButton action="#{loginManager.validateCredentials}" class="w3-button w3-grey w3-margin-right" value="Login"/>
                                <h:button outcome="registration" class="w3-button w3-grey w3-margin-right" value="Register"/>
                                <!--<h:button outcome="mainLoggedIn" class="w3-button w3-grey" value="Go back"/>-->
                                <button type="reset" class="w3-button w3-grey" value="Reset">Reset</button>
                            </p>
                        </h:form>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
