<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:metadata>
        <f:viewAction action="#{loginManager.viewMain}"/>
    </f:metadata>

    <body>

        <ui:composition template="./auctioneerTemplate.xhtml">

            <ui:define name="title">Main - Logged out</ui:define>
            
            <ui:define name="top">
                <h1>Auctioneer - Main</h1>
            </ui:define>

            <ui:define name="content">
                
                <div class="w3-half w3-margin-left">
                    <div class="w3-card-4">
                        <div id="card1" class="w3-container">
                            <header class="w3-container w3-light-grey w3-center w3-margin-bottom w3-margin-top">
                                <h2>Welcome to Auctioneer!</h2>
                            </header>
                            <div class="w3-panel w3-leftbar">
                                <p>The power of the most popular auctioning page at HVL is now at your fingertips.</p>
                            </div>
                            <div class="w3-panel w3-leftbar">
                                <p>To be able to utilize the page to its fullest, we encourage you to log in.</p>
                            </div>
                            <div class="w3-panel w3-leftbar">
                                <p>You can still browse the auctions on the page without logging in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>

