<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    
    
    <f:metadata>
        <f:viewAction action="#{loginManager.viewMain}"/>
    </f:metadata>
    
    <body>

        <ui:composition template="./auctioneerTemplate.xhtml">
            
            <ui:define name="title">Main - Logged in</ui:define>
            
            <ui:define name="top">
                <h1>Auctioneer - Main</h1>
            </ui:define>

            <ui:define name="content">
                <div class="w3-quarter w3-margin-left">
                    <div class="w3-card-4">
                        <h:form enctype="multipart/form-data" class="w3-container">
                            <!--<h:panelGrid columns="2" border="0">-->

                        <header class="w3-container w3-light-grey w3-center w3-margin-bottom w3-margin-top">
                            <h2>New Auction</h2>
                        </header>
                        <h:outputLabel value="Title :"/>
                        <h:message id="m1" for="title" class="w3-text-red w3-margin-left"/>
                        <h:inputText value="#{auctionManager.title}" id="title" class="w3-input w3-border w3-margin-bottom" required="true" requiredMessage="Please enter a title"/>

                        <h:outputLabel value="Auction end date (dd/MM/yy) :"/>
                        <h:message id="m2" for="date" class="w3-text-red w3-margin-left"/>
                        <h:inputText value="#{auctionManager.endDate}" id="date" class="w3-input w3-border w3-margin-bottom" required="true" requiredMessage="Please enter an end date in the correct format">
                            <f:convertDateTime pattern="dd/MM/yy"/>
                        </h:inputText>


                        <h:outputLabel value="Starting bid :" />
                        <h:message id="m3" for="bid" class="w3-text-red w3-margin-left"/>
                        <h:inputText value="#{auctionManager.initPrice}" id="bid" class="w3-input w3-border w3-margin-bottom" required="true" requiredMessage="Please enter a starting bid"/>


                        <h:outputLabel value="Description :" />
                        <h:message id="m4" for="title" class="w3-text-red w3-margin-left"/>
                        <h:inputTextarea value="#{auctionManager.description}" id="description" class="w3-input w3-border w3-margin-bottom" required="true" requiredMessage="Please enter a description"/>
                        


                        <!--</h:panelGrid>-->
                            <h:commandButton action="#{auctionManager.saveAuction}" class="w3-button w3-grey w3-margin-bottom" value="Publish"/>
                        </h:form>
                    </div>
                </div>
                

                <div class="w3-half w3-margin-left">
                    <div class="w3-card-4">
                        <div id="card1" class="w3-container">
                            <header class="w3-container w3-light-grey w3-center w3-margin-bottom w3-margin-top">
                                <h2>Your Active Auctions</h2>
                            </header>
                            <input type="text" id="myInput" onkeyup="filterList()" placeholder="Search.." title="Type in an auction"/>
                            <ul id="myUL" class="w3-ul w3-border w3-hoverable w3-margin-bottom">
                               <ui:repeat value="#{allAuctionsView.activeUserAuctions}" var = "auction">
                                   <li>
        <!--                               <h:outputText value="#{auction.title}">
                                           <f:param name="id" value="#{auction.id}"/>
                                       </h:outputText>    -->
                                       <a href="auctionDescriptionView.xhtml?id=#{auction.id}" class="w3-bar">
                                           <div class="w3-half w3-container">Auction: #{auction.title}</div>
                                           <div class="w3-half w3-container">Current bid: #{auction.bid.amount}</div>
                                           <div class="w3-half w3-container">Seller: #{auction.user.username}</div>
                                           <div class="w3-half w3-container">End date: #{auction.endDate}</div>
                                       </a>
                                   </li>
                               </ui:repeat>
                           </ul>  
                        </div>
                    </div>
                </div>
                
                <div class="w3-half w3-margin-left">
                    <div class="w3-card-4">
                        <div id="card1" class="w3-container">
                            <header class="w3-container w3-light-grey w3-center w3-margin-bottom w3-margin-top">
                                <h2>Your Expired Auctions</h2>
                            </header>
                            <input type="text" id="myInput" onkeyup="filterList()" placeholder="Search.." title="Type in an auction"/>
                            <ul id="myUL" class="w3-ul w3-border w3-hoverable w3-margin-bottom">
                               <ui:repeat value="#{allAuctionsView.expiredUserAuctions}" var = "auction">
                                   <li>
        <!--                               <h:outputText value="#{auction.title}">
                                           <f:param name="id" value="#{auction.id}"/>
                                       </h:outputText>    -->
                                       <a href="auctionDescriptionView.xhtml?id=#{auction.id}" class="w3-bar">
                                           <div class="w3-half w3-container">Auction: #{auction.title}</div>
                                           <div class="w3-half w3-container">Final bid: #{auction.bid.amount}</div>
                                           <div class="w3-half w3-container">Seller: #{auction.user.username}</div>
                                           <div class="w3-half w3-container">End date: #{auction.endDate}</div>
                                       </a>
                                   </li>
                               </ui:repeat>
                           </ul>  
                        </div>
                    </div>
                </div>
<!--                <div id="card1" class="w3-quarter w3-container">
                    <div class="w3-card-4">
                        <header class="w3-container w3-green w3-center">
                            <h2>Won</h2>
                        </header>
                        <div class="w3-container">

                            <p class="w3-center w3-xlarge"><b>Luxurious socks</b></p>
                            <img class="w3-image w3-center" src="./resources/img/LuxurySocks.jpg" alt="picture"/>

                            <br/>
                            <br/>
                            <button onclick="accordion('Description1')" class="w3-button w3-block w3-light-grey w3-left-align">Open description</button>
                            <div id="Description1" class="w3-container w3-hide w3-border-bottom w3-border-left w3-border-right">
                                <p>Made from the ultra-fine hair of the Peruvian vicuña.</p>
                            </div>

                            <div class="w3-panel w3-leftbar w3-border-green">
                                <p><b>Winning bid:</b> £726</p>
                            </div>



                             Review accordion start
                             Duplicates below should be removed later
                            <br/>
                            <div id="feedbackAndButton1">
                                <button onclick="accordion('feedback1')" class="w3-button w3-block w3-light-grey">Review</button>
                                <div id="feedback1" class="w3-hide w3-animate-opacity">
                                    <div class="w3-panel w3-light-grey">
                                        <h5>Product feedback:</h5>
                                        <p>

                                        5 star rating form - should add action
                                        <div class="stars">
                                             <form action="">
                                                <input class="star star-5" id="star-5-product-1" type="radio" name="star"/>
                                                <label class="star star-5" for="star-5-product-1"></label>
                                                <input class="star star-4" id="star-4-product-1" type="radio" name="star"/>
                                                <label class="star star-4" for="star-4-product-1"></label>
                                                <input class="star star-3" id="star-3-product-1" type="radio" name="star"/>
                                                <label class="star star-3" for="star-3-product-1"></label>
                                                <input class="star star-2" id="star-2-product-1" type="radio" name="star"/>
                                                <label class="star star-2" for="star-2-product-1"></label>
                                                <input class="star star-1" id="star-1-product-1" type="radio" name="star"/>
                                                <label class="star star-1" for="star-1-product-1"></label>
                                            </form>
                                        </div>
                                        </p>
                                        <p>
                                        <textarea name="message" placeholder="Comment here ..."></textarea>      
                                        </p>
                                    </div>

                                    <div class="w3-panel w3-light-grey">
                                        <h5>Seller feedback:</h5>
                                        <p>

                                        <div class="stars">
                                             <form action="">
                                                <input class="star star-5" id="star-5-seller-1" type="radio" name="star"/>
                                                <label class="star star-5" for="star-5-seller-1"></label>
                                                <input class="star star-4" id="star-4-seller-1" type="radio" name="star"/>
                                                <label class="star star-4" for="star-4-seller-1"></label>
                                                <input class="star star-3" id="star-3-seller-1" type="radio" name="star"/>
                                                <label class="star star-3" for="star-3-seller-1"></label>
                                                <input class="star star-2" id="star-2-seller-1" type="radio" name="star"/>
                                                <label class="star star-2" for="star-2-seller-1"></label>
                                                <input class="star star-1" id="star-1-seller-1" type="radio" name="star"/>
                                                <label class="star star-1" for="star-1-seller-1"></label>
                                            </form>
                                        </div>
                                        </p>
                                        <p>
                                        <textarea name="message" placeholder="Comment here ..."></textarea>      
                                        </p>
                                    </div>
                                     Review accordion end

                                    <p>
                                    <button onclick="show('feedbackText1'); hide('feedbackAndButton1');" class="w3-button w3-grey">Submit</button>
                                    </p>
                                </div>
                            </div>
                            <div id="feedbackText1" class="w3-hide w3-light-grey"><p>Thank you for your feedback!</p></div>
                            <br/>
                            <button onclick="hide('card1')" class="w3-button w3-block w3-light-grey">Close</button>
                            <button id="closeButton1" class="w3-button w3-block w3-light-grey">Close</button>
                            <br/>
                        </div>
                    </div>
                </div>-->
            </ui:define>

        </ui:composition>

    </body>
</html>
