<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./auctioneerTemplate.xhtml">

            <ui:define name="title">Post Auction</ui:define>
            
            <ui:define name="top">
                <h1> Create new Auction</h1>
            </ui:define>

            <ui:define name="content">
                <div class="w3-col m4 l3">
                    <div class="w3-card-4">
                        <h:form enctype="multipart/form-data" class="w3-container">
                            <!--<h:panelGrid columns="2" border="0">-->

                        <header class="w3-container w3-light-grey w3-center w3-margin-bottom w3-margin-top">
                            <h2>Auction</h2>
                        </header>
                        <h:outputLabel value="Title :"/>
                        <h:inputText value="#{auctionManager.title}" class="w3-input w3-border w3-margin-bottom"/>

                        <h:outputLabel value="Auction end date (dd/MM/yy) :"/>
                        <h:inputText value="#{auctionManager.endDate}" class="w3-input w3-border w3-margin-bottom">
                            <f:convertDateTime pattern="dd/MM/yy"/>
                        </h:inputText>


                        <h:outputLabel value="Starting bid :" />
                        <h:inputText value="#{auctionManager.initPrice}" class="w3-input w3-border w3-margin-bottom"/>


                        <h:outputLabel value="Description :" />
                        <h:inputTextarea value="#{auctionManager.description}" class="w3-input w3-border w3-margin-bottom"/>


                        <!--</h:panelGrid>-->
                            <h:commandButton action="#{auctionManager.saveAuction}" class="w3-button w3-grey w3-margin-bottom" value="Publish"/>
                        </h:form>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
