<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body>

        <ui:composition template="./auctioneerTemplate.xhtml">

            <ui:define name="title">Registration error</ui:define>
            
            <ui:define name="title">Registration error</ui:define>
            
            <ui:define name="top">
                <h1>Registration</h1>
            </ui:define>

            <ui:define name="content">
                There was an error during your registration.
            </ui:define>

        </ui:composition>

    </body>
</html>
