<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./auctioneerTemplate.xhtml">

            <ui:define name="title">Post auction</ui:define>
            
            <ui:define name="top">
                <h1>Registration</h1>
            </ui:define>

            <ui:define name="content">
                <div class="w3-col m4 l3">
                    <div class="w3-card-4">
                        <h:form class="w3-container">
                            <h4>Please provide your credentials:</h4>
                            <p>
                                <h:inputText value="#{registrationManager.firstName}" id="fname" class="w3-input" required="true" requiredMessage="Please enter a first name"/>
                                <label>First name</label> 
                                <h:message id="m1" for="fname" class="w3-text-red w3-margin-left"/>
                            </p>
                            <p>
                                <h:inputText value="#{registrationManager.lastName}" id="lname" class="w3-input" required="true" requiredMessage="Please enter a last name"/>
                                <label>Last name</label>
                                <h:message id="m2" for="lname" class="w3-text-red w3-margin-left"/>
                            </p>
                            <p>
                                <h:inputText value="#{registrationManager.phoneNumber}" id="phone" class="w3-input" required="true" requiredMessage="Please enter a phone number"/>
                                <label>Phone number</label>
                                <h:message id="m3" for="phone" class="w3-text-red w3-margin-left"/>
                            </p>
                            <p>
                                <h:inputText value="#{registrationManager.email}" id="email" class="w3-input" required="true" requiredMessage="Please enter an email address"/>
                                <label>Email</label>
                                <h:message id="m4" for="email" class="w3-text-red w3-margin-left"/>
                            </p>
                            <p>
                                <h:inputText value="#{registrationManager.userName}" id="uname" class="w3-input" required="true" requiredMessage="Please enter a username"/>
                                <label>Username</label>
                                <h:message id="m5" for="uname" class="w3-text-red w3-margin-left"/>
                            </p>
                            <p>
                                <h:inputSecret value="#{registrationManager.password}" id="pword" class="w3-input" required="true" requiredMessage="Please enter a password"/>
                                <label>Password</label>
                                <h:message id="m6" for="pword" class="w3-text-red w3-margin-left"/>
                            </p>
                            <p>
                                <h:commandButton action="#{registrationManager.saveUser}"  class="w3-button w3-grey" value="Submit"/>
                                <h:button outcome="mainLoggedIn" class="w3-button w3-grey" value="Go back"/>
                            </p>
                        </h:form>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
