<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./auctioneerTemplate.xhtml">

            <ui:define name="title">Browse auctions</ui:define>
            
            <ui:define name="top">
                <h1>Auctioneer - Browse Auctions</h1>
            </ui:define>

            <ui:define name="content">
                <div class="w3-half w3-margin-left">
                    <div class="w3-card-4">
                        <div id="card1" class="w3-container">
                            <header class="w3-container w3-light-grey w3-center w3-margin-bottom w3-margin-top">
                                <h2>Search</h2>
                            </header>
                            <input type="text" id="myInput" onkeyup="filterList()" placeholder="Search.." title="Type in an auction"/>
                            <ul id="myUL" class="w3-ul w3-border w3-hoverable">
                               <ui:repeat value="#{allAuctionsView.activeAuctions}" var = "auction">
                                   <li>
        <!--                               <h:outputText value="#{auction.title}">
                                           <f:param name="id" value="#{auction.id}"/>
                                       </h:outputText>    -->
                                       <a href="auctionDescriptionView.xhtml?id=#{auction.id}" class="w3-bar">
                                           <div class="w3-half w3-container">Auction: #{auction.title}</div>
                                           <div class="w3-half w3-container">Current bid: #{auction.bid.amount}</div>
                                           <div class="w3-half w3-container">Seller: #{auction.user.username}</div>
                                           <div class="w3-half w3-container">End date: #{auction.endDate}</div>
                                       </a>
                                   </li>
                               </ui:repeat>
                           </ul>  
                        </div>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
