<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./auctioneerTemplate.xhtml">

            <ui:define name="title">Test page</ui:define>
            
            <ui:define name="top">
                <h1>Test Page</h1>
            </ui:define>

            <ui:define name="content">
                <div id="card1" class="w3-quarter w3-container">
                    <div class="w3-card-4">
                        <header class="w3-container w3-blue w3-center">
                            <h2>Links</h2>
                        </header>
                        <div class="w3-container w3-center">
                            <p><h:button outcome="mainLoggedIn" value="Home - Logged in view" class="w3-button w3-light-grey"/></p>
                            <p><h:button outcome="mainLoggedOut" value="Home - Logged out view" class="w3-button w3-light-grey"/></p>
                            <p><h:button outcome="login" value="Login" class="w3-button w3-light-grey"/></p>
                            <p><h:button outcome="registration" value="Registration" class="w3-button w3-light-grey"/></p>
                            <p><h:button outcome="search" value="Search" class="w3-button w3-light-grey"/></p>
                            <p><h:button outcome="postAuction" value="Post auction" class="w3-button w3-light-grey"/></p>
                            <p><h:button outcome="allAuctions" value="All auctions" class="w3-button w3-light-grey"/></p>
                            <p><h:button outcome="bid" value="Bidding" class="w3-button w3-light-grey"/> </p>
                        </div>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
